Doc/*.pdf
Lib/
Scripts/
Include/
esptool_v33/
esptool_v41/
py_env/
build/
dist/
.venv_webui_py38
.venv_pyside_py38
.venv_pyqt5
.idea/
__pycache__/
*.bin
SnailHeater_WinTool.spec
base_data*
Generate/
ffmpeg.exe
webui/node_modules/
webui/.npm-cache/
webui/dist/
webui/*.tsbuildinfo
.pip-cache/
temporary_sn_recode.txt